<article>

    <h1>Login</h1>
    <% form_tag(:action => "login") do %>
    <p>
        <%= text_field_tag(:username) %>
    </p>
    <p>
        <%= password_field_tag(:password) %>
    </p>
    <p>
        <%= submit_tag "Login", :disable_with => 'Trying to login...' %>
    </p>
    <% end -%>
    <p id="notice"><%= notice %></p>
</article>


